* {
    font-family: cursive;
}

#my {
    background-color: black;
    color: white;
    padding: 20px;
    padding-right: 0px;
    font-size: 50px;
}
#cloud {
    background-color: black;
    color: turquoise;
    padding: 20px;
    padding-left: 0px;
    font-size: 50px;
}
h2 {
    text-align: center;
    background-color: rgb(125, 0, 228);
    color: white;
    font-style: oblique;
    padding: 20px;
    font-size: 40px;
}
h3 {
    text-align: right;
    background-color: skyblue;
    color: blue;
    text-decoration: underline;
    padding: 20px;
    font-size: 30px;
}